[submodule "vendor/extensions/database_form"]
	path = vendor/extensions/database_form
	url = git://github.com/zapnap/database_form.git
[submodule "vendor/extensions/super_export"]
	path = vendor/extensions/super_export
	url = git://github.com/ihoka/radiant-super-export-extension.git
